.navigation
	display: flex
	background-color: #34495e
	justify-content: space-between
	align-items: center
	padding: 1rem 10rem

	a
		text-decoration: none

		&:active, &:focus
			outline: none

	.logo
		flex: 3
		color: #23d997
		cursor: pointer
		font-size: 2rem
		font-family: 'Lobster', cursive

	.menu
		display: flex
		flex: 2
		justify-content: space-evenly
		font-size: 1.3rem

		a
			color: white
			transition: all .2s ease-in-out
			cursor: pointer

			&:hover
				color: #23d997
